@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3a2xdr');
    src:  url('../fonts/icomoon.eot?3a2xdr#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3a2xdr') format('truetype'),
      url('../fonts/icomoon.woff?3a2xdr') format('woff'),
      url('../fonts/icomoon.svg?3a2xdr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .shortcut{
    height: 34px;
    line-height: 34px;
    background-color: #f1f1f1;

  }

  .wrapper{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    height: 34px;
  }
.shortcut .flt_left{
    float: left;
}
  .shortcut  .flt_left ul li {
    float: left;
    margin-right: 12px;
  }

  .shortcut ul li a{

   
  }

  .shortcut ul li:last-child a:last-child{
    color: #c81623;
    margin-left: 10px;
  }

  .shortcut .flt_right{
    float: right;
  }

  .shortcut .flt_right ul li{
    float: left;
  }


  .shortcut .flt_right ul li i{
    display: inline-block;
    margin: -2px 10px;
    /* line-height: 34px; */
    width: 1px;
    height: 12px;
    background-color: #666666;
  }
  .shortcut .flt_right ul li:last-child i{
    width: 0;
    display: none;
  }
.bottom_arrow::after{
    margin-left: 10px;
    content:"\e91e";
    font-family: "icomoon";
}


 .header {
    position: relative;
    height: 105px;
    background-color: pink;
 }

 .header .logo{
    position:absolute;
    left: 1px;
    top: 25px;
    width: 175px;
    height: 56px;
    /* background-color: red; */
 }

 .header .logo a{
    display: block;
    overflow: hidden;
    background-image: url(../images/logo.png);
    background-size: contain;
    width: 175px;
    height: 56px;
    /* font-size: 0; */
    text-indent: -999px;
 }

 .header .search{
    position:absolute;
    left: 351px;
    top: 25px;
    background-color: purple;
 }

 .text{
  float: left;
  width: 460px;
  height: 39px;
  border: 2px solid #b1191a;
  /* outline: none; */
 }
 .text::placeholder{
  padding-left: 12px;
  color:#ccc;
 }
 .btn{
  float: left;
  width: 83px;
  height: 39px;
  background-color: #b1191a;
  border: transparent;
  color: #fff;
 }

 .header .hotwords{
  position: absolute;
  left: 357px;
  top: 69px;

 }

 .header .hotwords a{
  float: left;
  margin: 0 10px;
 }
 .header .hotwords a:hover{
  color: #b1191a;
 }

.shopcar{
  position:absolute;
  left: 998px;
  top: 26px;
  width: 142px;
  height: 37px;
  line-height: 37px;
  background-color: #f7f7f7;
  border: 1px solid #dfdfdf;
  text-align: center;
 }
 .car,.arrow{
  font-family: "icomoon";
  
 }

 .car{
  color: #b1191a;
  margin-right: 5px;
 }
 .arrow{
  font-size: 16px;
  /* line-height: 25px; */
  vertical-align: middle;
  margin-left: 10px;
 }

 .count {
  position: absolute;
  display: block;
  left: 99px;
  top: -10px;
  height: 20px;
  line-height: 8px;
  background-color: #e60012;
  color: #fff;
  border-radius: 8px 8px 8px 0;
  padding: 6px;
}