@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3a2xdr');
    src:  url('../fonts/icomoon.eot?3a2xdr#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3a2xdr') format('truetype'),
      url('../fonts/icomoon.woff?3a2xdr') format('woff'),
      url('../fonts/icomoon.svg?3a2xdr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

 .shortcut{
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
 } 

 .wrapper{
  width: 1200px;
  margin: 0 auto;
 }

 .shortcut .fl{
  float: left;
 }

 .shortcut .fl ul li{
  float: left;
 }

.shortcut .fl ul li:nth-child(2) a:first-child{
  margin: 0 14px 0 6px;
 }

 .shortcut .fl ul li:nth-child(2) a:last-child{
  color: #c81623;
 }


 .shortcut .fr{
  float: right;
 }

 .shortcut .fr ul li{
  float: left;
 }

 .shortcut .fr ul li:nth-child(even){
  width: 1px;
  height: 12px;
  background-color: #666666;
  margin: 10px 16px 0 18px;
 }

 .shortcut .fr ul li:last-child{
  display: none;
 }

 .bottom_arrow_icon::after{
  content:"\e91e";
  font-family: "icomoon";
  margin-left:5px;
  font-size: 16px;
  vertical-align: middle;
 }

 .header{
  position:relative;
  height: 105px;
  /* background-color: pink; */
 }

 .logo{
  overflow: hidden;
  position:absolute;
  left: 0;
  top: 26px;
  width: 175px;
  height: 56px;
 }
 .logo h1{
  width: 175px;
  height: 56px;
 }

 .logo h1 a{
  display:block;
  width: 175px;
  height: 56px;
  /* background-color: transparent; */
  background-image: url(../images/logo.png);
  /* border: 1px solid #c81623; */
  /* text-indent:-99px;
  overflow:hidden; */
  font-size: 0px;
 } 
 .search{
  position: absolute;
  left: 345px;
  top: 26px;
 }
 .search .text{
  float: left;
  width: 454px;
  height: 35px;
  outline: none;
  border:2px solid #c81623;
 }
 .search .text::placeholder{
  padding-left: 7px;
 }

 .search .btn{
  float: left;
  width: 80px;
  height: 35px;
  background-color: #c81623;
  border: 0;
  color: #fff;
 }

 .header .hotwords{
  position:absolute;
  left: 356px;
  top: 66px;

 }

 .header .hotwords a{
  margin: 0 10px;
 }
 .header .hotwords a:hover{
  color:#c81623
 }

 .header .shopcar{
  position: absolute;
  left: 995px;
  top: 26px;
  width: 142px;
  height: 36px;
  line-height: 36px;
  background-color: #f7f7f7;
  border: 1px solid #dfdfdf;
 }
.shopcar{
  text-align: center;
  font-family: "icomoon";

 }
 .right_arrow{
  vertical-align: middle;
 }
.car{
  color: #c81623;
 }

 .count{
  height: 14px;
  line-height: 10px;
  display: inline-block;
  padding: 2px;
  background-color: #c81623;
  position: absolute;
  left: 98px;
  top: -6px;
  color: #fff;
  border-radius: 7px 7px 7px 0;
 }

 .nav{
  height: 45px;
  /* line-height: 48px; */
  border-bottom: 2px solid #b1191a;
 }
.float_left{
  float: left;
}

 .nav .dropdown{
  width: 209px;
  height: 45px;

 }
 .nav .dropdown .dt{
  width: 100%;
  height: 100%;
  background-color: #b1191a;
  font-size: 16px;
  text-align: center;
  color: #fff;
  line-height: 45px;
 }
 
 .nav .dropdown .dd{
  /* margin-top: 2px; */
  height: 465px;
  background-color: #c81623;

 }

 .nav .dropdown .menu_item i{
  float: right;
  font-family: "icomoon";
  font-size: 18px;
  color: #fff;
 }
 .nav .dropdown .menu_item {
  height: 31px;
  line-height: 31px;
  padding:0 10px;
  margin-left: 1px;
 }
 .nav .dropdown .menu_item:hover{
  background-color: #fff;
 }
 .nav .dropdown .menu_item:hover a{
  color: #c81623;
 }

 .nav .dropdown .menu_item:hover a:hover{
  color: purple;
 }

 .nav .dropdown .menu_item a{
  color: #fff;
  font-size: 14px;
 }
 .nav .navitems{
  margin-left: 10px;
 }
 .nav .navitems ul li a {
  display: block;
  line-height: 45px;
  height: 45px;
  padding: 0 25px;
  font-size: 16px;
  color: #333;
 }
 .nav .navitems ul li a:hover{
  color: #c81623;
 }
 .nav .navitems ul li{
  float: left;
 }

.fotter{
  height: 416px;
  background-color: #f5f5f5;
  padding-top: 30px;
}

.module_service{
  height: 79px;
  /* background-color: pink; */
  border-bottom: 1px solid #555;
}

.module_service ul{
 
}
.module_service ul li{
  height: 79px;
  width: 240px;
  float: left;
}

.module_service_icon{
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) no-repeat;
  margin-left: 10px;
}

.module_service_zheng_ping{
  background-position:-253px -3px;
}


.module_service_ji_shu{
  background-position: -255px -54px;
}

.module_service_wu_you{
  background-position: -256px -104px;
}

.module_service_te_se{
  background-position: -258px -156px;
}

.module_service_bang_zu{
  background-position: -256px -208px;
}
.module_logo_title{
  float: left;
  margin-left: 10px;
}

.module_logo_title h3{
  margin: 5px 0;
}

.module_help{
  height: 187px;
  border-bottom:1px solid #555;

}

.module_help_item{
  float: left;
  width: 200px;
  height: 186px;
  /* background-color: pink; */
  padding: 20px 0  0 30px;
}

.module_help_item dt{
  font-size: 16px;
  height: 25px;
}

.module_help_item dd{
  height: 22px;
}

.module_help_item dd img{
  margin: 7px 0;
}

.module_help_app dt{
  margin-left: 10px;
}

.module_help_app p{
  margin-left: 6px;
}
.module_copyright{
  text-align: center;
}
.module_copyright p:first-child{
  margin: 25px 0  15px 0;
}

.module_copyright p:nth-child(2){
  line-height: 25px;
}