@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  .shortcut{
    /* 通栏 不设置宽度 高度34px */
    height: 34px;
    line-height: 34px;
    background-color: #f1f1f1;

  }

  .w{
    /* 版心 1200px */
    width: 1200px;
    margin: 0 auto;
    height: 34px;
    border: #c81623 solid 1px;
    }
    
.shortcut .fl_left{
    float:left;
}

.shortcut .fl_left ul li{
    float:left;

}

.shortcut .fl_left ul li:first-child{
    margin-right: 10px;
}
.shortcut .fl_left ul li a{
    margin-left: 14px;
    color: #c81623;
}
.shortcut .fl_right{
    float:right;
}

.shortcut .fl_right ul li{
    float:left;

}

.bottom_arrow_icon::after {
    content: "\e91e";
    font-family:"icomoon";
    margin-left: 10px;
    
}

.shortcut .fl_right ul li:last-child{
    display: none;
}

.shortcut .fl_right ul li:last-child a{
    margin-right: 0;
}
.shortcut .fl_right ul li:nth-last-child(2) a{
    margin-right: 0;
}

.shortcut .fl_right ul li:nth-child(even){
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 12px 10px 0;

}
